.section_composition{
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    .bg_layer_mobile{
        display: none;
    }

    .container_content{
        position: relative;
        display: inline-block;

        .hgroup{
            position: absolute;
            right: 0;
            top: 4.75em;
            padding: 1em;
            text-align: center;
            z-index: 1;
            font-family: 'Roboto', 'sans-serif';

            .separator{
                margin: 17px 0 8px 0;
            }

            .header_large{
                @include header( $white-color, 48px, 400 );
                line-height: 1.1;
            }

            .header_medium{
                @include header( $color-header-medium, 22px, 600 );
                line-height: 1.5;

                .gold{
                    color: $golg-color;
                }
            }
        }
    }

    .bg_layer{
        position: relative;
        z-index: 1;
    }
}