/*colors*/
$black-color: #000;
$white-color: #fff;
$color-item-nav-panel: #a9abaf;
$blue-violet-color: #1f2147;
$light-green-color: #39d84c;
$golg-color: #ffe200;
$light-grey-color: #968e8e;
$dark-violet-color: #e0e0e0;
$light-violet-color: #787a9e;
$color-header-medium: #acaed2;
$color-red: #d40619;
$color-blue: #2323ab;
/*size*/
$max-width-main-container: 1920px;